<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/WidgetSmith.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/GoogleMobileAds.framework/SC_Info/GoogleMobileAds.sinf</string>
		<string>Frameworks/UserMessagingPlatform.framework/SC_Info/UserMessagingPlatform.sinf</string>
		<string>Frameworks/ogg.framework/SC_Info/ogg.sinf</string>
		<string>Frameworks/vorbis.framework/SC_Info/vorbis.sinf</string>
		<string>PlugIns/SharePhoto.appex/SC_Info/SharePhoto.sinf</string>
		<string>PlugIns/Widget Config Intent.appex/SC_Info/Widget Config Intent.sinf</string>
		<string>PlugIns/WidgetsExtension.appex/SC_Info/WidgetsExtension.sinf</string>
		<string>SC_Info/WidgetSmith.sinf</string>
	</array>
</dict>
</plist>
