<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.iosmirror.refresh</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>25C56</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>IOSMirror</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>iosMirror Widgets</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.iosmirror.iosmirror.widgets</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>iosMirror Icons</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.iosmirror.iosmirror.icons</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Zip</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>IOSMirror</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon</string>
			</dict>
			<key>Icon-1</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-1</string>
			</dict>
			<key>Icon-10</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-10</string>
			</dict>
			<key>Icon-11</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-11</string>
			</dict>
			<key>Icon-12</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-12</string>
			</dict>
			<key>Icon-13</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-13</string>
			</dict>
			<key>Icon-14</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-14</string>
			</dict>
			<key>Icon-15</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-15</string>
			</dict>
			<key>Icon-16</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-16</string>
			</dict>
			<key>Icon-17</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-17</string>
			</dict>
			<key>Icon-18</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-18</string>
			</dict>
			<key>Icon-19</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-19</string>
			</dict>
			<key>Icon-2</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-2</string>
			</dict>
			<key>Icon-20</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-20</string>
			</dict>
			<key>Icon-21</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-21</string>
			</dict>
			<key>Icon-22</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-22</string>
			</dict>
			<key>Icon-23</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-23</string>
			</dict>
			<key>Icon-25</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-25</string>
			</dict>
			<key>Icon-26</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-26</string>
			</dict>
			<key>Icon-27</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-27</string>
			</dict>
			<key>Icon-28</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-28</string>
			</dict>
			<key>Icon-29</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-29</string>
			</dict>
			<key>Icon-3</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-3</string>
			</dict>
			<key>Icon-4</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-4</string>
			</dict>
			<key>Icon-5</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-5</string>
			</dict>
			<key>Icon-6</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-6</string>
			</dict>
			<key>Icon-7</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-7</string>
			</dict>
			<key>Icon-8</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-8</string>
			</dict>
			<key>Icon-9</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-9</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Primary60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Primary</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon</string>
			</dict>
			<key>Icon-1</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-1</string>
			</dict>
			<key>Icon-10</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-10</string>
			</dict>
			<key>Icon-11</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-11</string>
			</dict>
			<key>Icon-12</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-12</string>
			</dict>
			<key>Icon-13</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-13</string>
			</dict>
			<key>Icon-14</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-14</string>
			</dict>
			<key>Icon-15</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-15</string>
			</dict>
			<key>Icon-16</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-16</string>
			</dict>
			<key>Icon-17</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-17</string>
			</dict>
			<key>Icon-18</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-18</string>
			</dict>
			<key>Icon-19</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-19</string>
			</dict>
			<key>Icon-2</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-2</string>
			</dict>
			<key>Icon-20</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-20</string>
			</dict>
			<key>Icon-21</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-21</string>
			</dict>
			<key>Icon-22</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-22</string>
			</dict>
			<key>Icon-23</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-23</string>
			</dict>
			<key>Icon-25</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-25</string>
			</dict>
			<key>Icon-26</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-26</string>
			</dict>
			<key>Icon-27</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-27</string>
			</dict>
			<key>Icon-28</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-28</string>
			</dict>
			<key>Icon-29</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-29</string>
			</dict>
			<key>Icon-3</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-3</string>
			</dict>
			<key>Icon-4</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-4</string>
			</dict>
			<key>Icon-5</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-5</string>
			</dict>
			<key>Icon-6</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-6</string>
			</dict>
			<key>Icon-7</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-7</string>
			</dict>
			<key>Icon-8</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-8</string>
			</dict>
			<key>Icon-9</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Icon-9</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Primary60x60</string>
				<string>Primary76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Primary</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.iosmirror</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOSMirror</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.2</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.iosmirror.iosmirror</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iosmirror</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1249</string>
	<key>DTAppStoreToolsBuild</key>
	<string>17C503a</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23C57</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.2</string>
	<key>DTSDKBuild</key>
	<string>23C57</string>
	<key>DTSDKName</key>
	<string>iphoneos26.2</string>
	<key>DTXcode</key>
	<string>2630</string>
	<key>DTXcodeBuild</key>
	<string>17C528</string>
	<key>GoogleUtilitiesAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>watchsmith</string>
		<string>sleepplusplus</string>
		<string>pedometerplusplus</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>NSAccentColorName</key>
	<string>AccentColor</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>You can create Music widgets which then play the associated music when tapped.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Your calendar events can be displayed in widgets.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Your calendar events can be shown on widgets.</string>
	<key>NSCameraUsageDescription</key>
	<string>The Mirror tool uses your selfie camera to provide you with a mirror view.</string>
	<key>NSContactsUsageDescription</key>
	<string>Your contacts can be used in the Calendars when creating events.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Your activity and health data can be shown on widgets.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Your activity and health data can be shown on widgets.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to add favorite locations.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You can display your photos as widgets or make wallpapers.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Your reminders can be shown on widgets.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Your reminders can be shown on a widget.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>SelectCircularWidgetIntent</string>
		<string>SelectInlineWidgetIntent</string>
		<string>SelectLargeWidgetIntent</string>
		<string>SelectMediumWidgetIntent</string>
		<string>SelectRectangularWidgetIntent</string>
		<string>SelectSmallWidgetIntent</string>
		<string>SelectXLargeWidgetIntent</string>
	</array>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Advocate.otf</string>
		<string>Concourse.otf</string>
		<string>HermesMaia.otf</string>
		<string>Triplicate.otf</string>
		<string>Heliotrope.otf</string>
		<string>Valkyrie.otf</string>
		<string>CourierPrime.ttf</string>
		<string>Spectre.otf</string>
		<string>Urayasu.otf</string>
		<string>molly-script.otf</string>
		<string>tikitikifestival-regular.otf</string>
		<string>tikitikifestival-script.otf</string>
		<string>summerfestival-regular.otf</string>
		<string>Womprat-Bold.otf</string>
		<string>CaptainEdward-Rough.otf</string>
		<string>FreeLunch-Regular.otf</string>
		<string>Parkly-Condensed.otf</string>
		<string>ShipsWhistle-Rough.otf</string>
		<string>SecondHandLong.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iosMirror Widgets</string>
			<key>UTTypeIconFile</key>
			<string>Icon1024</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Icon1024</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon1024</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.iosmirror.iosmirror.widgets</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>widgets</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iosMirror Icons</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.iosmirror.iosmirror.icons</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iosmirroricons</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
