<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>DTPlatformVersion</key>
    <string>26.2</string>
    <key>DTSDKBuild</key>
    <string>23C57</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>Icon-15</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-15</string>
        </dict>
        <key>Icon-21</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-21</string>
        </dict>
        <key>Icon-28</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-28</string>
        </dict>
        <key>Icon-1</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-1</string>
        </dict>
        <key>Icon-8</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-8</string>
        </dict>
        <key>AppIcon</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon</string>
        </dict>
        <key>Icon-16</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-16</string>
        </dict>
        <key>Icon-22</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-22</string>
        </dict>
        <key>Icon-29</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-29</string>
        </dict>
        <key>Icon-3</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-3</string>
        </dict>
        <key>Icon-10</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-10</string>
        </dict>
        <key>Icon-17</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-17</string>
        </dict>
        <key>Icon-23</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-23</string>
        </dict>
        <key>Icon-5</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-5</string>
        </dict>
        <key>Icon-11</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-11</string>
        </dict>
        <key>Icon-18</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-18</string>
        </dict>
        <key>Icon-7</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-7</string>
        </dict>
        <key>Icon-12</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-12</string>
        </dict>
        <key>Icon-19</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-19</string>
        </dict>
        <key>Icon-2</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-2</string>
        </dict>
        <key>Icon-25</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-25</string>
        </dict>
        <key>Icon-9</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-9</string>
        </dict>
        <key>Icon-13</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-13</string>
        </dict>
        <key>Icon-26</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-26</string>
        </dict>
        <key>Icon-4</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-4</string>
        </dict>
        <key>Icon-14</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-14</string>
        </dict>
        <key>Icon-20</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-20</string>
        </dict>
        <key>Icon-27</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-27</string>
        </dict>
        <key>Icon-6</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-6</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>Primary60x60</string>
          <string>Primary76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>Primary</string>
      </dict>
    </dict>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-3767252978292556~2116579648</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>The Mirror tool uses your selfie camera to provide you with a mirror view.</string>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <false/>
    <key>CFBundleDisplayName</key>
    <string>Widgetsmith</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.crossforward.widgetsmith.widgets</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Widgetsmith Widgets</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Widgetsmith Icons</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.crossforward.widgetsmith.icons</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Zip</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.pkware.zip-archive</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
    </array>
    <key>DTXcodeBuild</key>
    <string>17C528</string>
    <key>NSRemindersUsageDescription</key>
    <string>Your reminders can be shown on a widget.</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIcons</key>
        <dict>
          <key>UTTypeIconBadgeName</key>
          <string>Icon1024</string>
        </dict>
        <key>UTTypeIconFile</key>
        <string>Icon1024</string>
        <key>UTTypeIconFiles</key>
        <array>
          <string>Icon1024</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.crossforward.widgetsmith.widgets</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.zip-archive</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Widgetsmith Widgets</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>widgets</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIcons</key>
        <dict/>
        <key>UTTypeIdentifier</key>
        <string>com.crossforward.widgetsmith.icons</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Widgetsmith Icons</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>widgetsmithicons</string>
          </array>
        </dict>
      </dict>
    </array>
    <key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
    <true/>
    <key>CFBundleIdentifier</key>
    <string>com.crossforward.WidgetSmith</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>SelectCircularWidgetIntent</string>
      <string>SelectInlineWidgetIntent</string>
      <string>SelectLargeWidgetIntent</string>
      <string>SelectMediumWidgetIntent</string>
      <string>SelectRectangularWidgetIntent</string>
      <string>SelectSmallWidgetIntent</string>
      <string>SelectXLargeWidgetIntent</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>watchsmith</string>
      <string>sleepplusplus</string>
      <string>pedometerplusplus</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>Icon-15</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-15</string>
        </dict>
        <key>Icon-21</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-21</string>
        </dict>
        <key>Icon-28</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-28</string>
        </dict>
        <key>Icon-1</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-1</string>
        </dict>
        <key>Icon-8</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-8</string>
        </dict>
        <key>AppIcon</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon</string>
        </dict>
        <key>Icon-16</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-16</string>
        </dict>
        <key>Icon-22</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-22</string>
        </dict>
        <key>Icon-29</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-29</string>
        </dict>
        <key>Icon-3</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-3</string>
        </dict>
        <key>Icon-10</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-10</string>
        </dict>
        <key>Icon-17</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-17</string>
        </dict>
        <key>Icon-23</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-23</string>
        </dict>
        <key>Icon-5</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-5</string>
        </dict>
        <key>Icon-11</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-11</string>
        </dict>
        <key>Icon-18</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-18</string>
        </dict>
        <key>Icon-7</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-7</string>
        </dict>
        <key>Icon-12</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-12</string>
        </dict>
        <key>Icon-19</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-19</string>
        </dict>
        <key>Icon-2</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-2</string>
        </dict>
        <key>Icon-25</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-25</string>
        </dict>
        <key>Icon-9</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-9</string>
        </dict>
        <key>Icon-13</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-13</string>
        </dict>
        <key>Icon-26</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-26</string>
        </dict>
        <key>Icon-4</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-4</string>
        </dict>
        <key>Icon-14</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-14</string>
        </dict>
        <key>Icon-20</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-20</string>
        </dict>
        <key>Icon-27</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-27</string>
        </dict>
        <key>Icon-6</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>Icon-6</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>Primary60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>Primary</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>GoogleUtilitiesAppDelegateProxyEnabled</key>
    <false/>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Your activity and health data can be shown on widgets.</string>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>15.0</string>
    <key>CFBundleName</key>
    <string>WidgetSmith</string>
    <key>CFBundleShortVersionString</key>
    <string>8.2</string>
    <key>SKAdNetworkItems</key>
    <array>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cstr6suwn9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4fzdc2evr5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>2fnua5tdw4.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ydx93a7ass.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>p78axxw29g.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v72qych5uu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ludvb6z3bs.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cp8zw746q7.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3sh42y64q3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>c6k4g5qg8m.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>s39g8k73mm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3qy4746246.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>f38h382jlk.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>hs6bdukanm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>mlmmfzh3r3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v4nxqhlyqp.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>wzmmz9fp6w.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>su67r6k2v3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>yclnxrl5pm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>t38b2kh725.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>7ug5zh24hu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>gta9lk7p23.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>vutu7akeur.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>y5ghdn5j9k.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v9wttpbfk9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n38lu8286q.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>47vhws6wlr.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>kbd757ywx3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9t245vhmpl.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>a2p9lx4jpn.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>22mmun2rn5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>44jx6755aq.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>k674qkevps.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4468km3ulz.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>2u9pt9hc89.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>8s468mfl3y.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>klf5c3l5u5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ppxm28t8ap.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>kbmxgpxpgc.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>uw77j35x4d.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>578prtvx9j.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4dzt52r2t5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>tl55sbb4fm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>c3frkrj4fj.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>e5fvkxwrpn.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>8c4e2ghe7u.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3rd42ekr43.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>97r2b46745.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3qcr597p9d.skadnetwork</string>
      </dict>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>processing</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>GADDelayAppMeasurementInit</key>
    <true/>
    <key>UIAppFonts</key>
    <array>
      <string>Advocate.otf</string>
      <string>Concourse.otf</string>
      <string>HermesMaia.otf</string>
      <string>Triplicate.otf</string>
      <string>Heliotrope.otf</string>
      <string>Valkyrie.otf</string>
      <string>CourierPrime.ttf</string>
      <string>Spectre.otf</string>
      <string>Urayasu.otf</string>
      <string>molly-script.otf</string>
      <string>tikitikifestival-regular.otf</string>
      <string>tikitikifestival-script.otf</string>
      <string>summerfestival-regular.otf</string>
      <string>Womprat-Bold.otf</string>
      <string>CaptainEdward-Rough.otf</string>
      <string>FreeLunch-Regular.otf</string>
      <string>Parkly-Condensed.otf</string>
      <string>ShipsWhistle-Rough.otf</string>
      <string>SecondHandLong.otf</string>
    </array>
    <key>NSRemindersFullAccessUsageDescription</key>
    <string>Your reminders can be shown on widgets.</string>
    <key>CFBundleExecutable</key>
    <string>WidgetSmith</string>
    <key>NSHealthShareUsageDescription</key>
    <string>Your activity and health data can be shown on widgets.</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSAppleMusicUsageDescription</key>
    <string>You can create Music widgets which then play the associated music when tapped.</string>
    <key>DTAppStoreToolsBuild</key>
    <string>17C503a</string>
    <key>BuildMachineOSBuild</key>
    <string>25C56</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>NSAccentColorName</key>
    <string>AccentColor</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Your calendar events can be shown on widgets.</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <false/>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your location is used to add favorite locations.</string>
    <key>GADIsAdManagerApp</key>
    <false/>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleVersion</key>
    <string>1249</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>com.crossforward.widgetsmith</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>widgetsmith</string>
        </array>
      </dict>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.crossforward.refresh</string>
    </array>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>Your calendar events can be displayed in widgets.</string>
    <key>DTSDKName</key>
    <string>iphoneos26.2</string>
    <key>DTPlatformBuild</key>
    <string>23C57</string>
    <key>NSContactsUsageDescription</key>
    <string>Your contacts can be used in the Calendars when creating events.</string>
    <key>DTXcode</key>
    <string>2630</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>You can display your photos as widgets or make wallpapers.</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
  </dict>
</plist>
